{% extends "base.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% for error in form.username.errors %}
                <span class="error-text">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for error in form.password.errors %}
                <span class="error-text">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}